body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

img {
    max-width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}

.button-container button a {
    text-decoration: none;
    color: white;
}

.button-container {
    text-align: left;
    /* Aligning on the left side */
    margin-left: 20px;
    /* Adding margin to separate from table */
    margin-top: 20px;
}