body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: arial;
}

/* enquiry information */
.enquiry form {
  background-color: #fff;
  padding: 10px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 440px;
  margin: 100px auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input#dob,
input#date {
  font-size: 17px;
}

select#gender {
  font-size: 17px;
}

select#enquiryClass {
  font-size: 17px;
}

.enquiry input,
select, text {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  height: 70px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

